/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* regole pagina */

.container {
  width: 70%;
  margin: auto;
  /* debug */
  border: 1px solid black;
  /* fine debug */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* intestazione */

/* header */
header {
  width: 100%;
  background-color: rgb(200, 200, 200);
  /* debug */
  border: 1px solid black;
  /* fine debug */
}

#opzioni {
  height: 50px;
}

/* nav */
#link {
  height: 50px;
}


/* parte centrale */
/* prima sezione */

#prima {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
  padding-top: 80px;
}

#testoprimasez {
  width: 50%;
  height: 695px;
}

#testoprimasez p:first-of-type {
  font-weight: bolder;
  font-size: 40px;
  color: rgb(51, 71, 91);
}

.secondotesto {
  font-size: 12px;
  color: rgb(82, 96, 113);
  margin-top: 20px;
}

.quartotesto {
  margin: 20px 0;
  font-size: 9px;
  color: rgb(82, 96, 113);
}

#linkprimasez {
  background-color: rgb(254, 119, 90);
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px;
}

#linkprimasez a{
  text-decoration: none;
}

#linkprimasez span{
  color: white;
  font-size: 9px;
  line-height: 40px;
}

/* seconda sezione */

#seconda {
  background-color: rgb(244, 249, 253);
  padding: 50px 0;
}

#cubo {
  text-align: center;
  margin-bottom: 50px;
}

#cubo img {
  width: 300px;
  height: auto;
}

#cubo p:first-of-type {
  font-weight: bolder;
  font-size: 30px;
  color: rgb(51, 71, 91);
}

#cubo p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 12px;
  color: rgb(82, 96, 113);
}

#freehubspot {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
  margin-bottom: 50px;
}

#primofloatsecondasez {
  width: 80%;
  margin: 50px auto;
}

#libro {
  float: left;
  width: 150px;
  text-align: center;
  margin-right: 50px;
}

#libro img {
  width: 100%;
  height: auto;
}

.linksecondasez {
  background-color: rgb(254, 119, 90);
  width: 150px;
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
}

.linksecondasez a{
  text-decoration: none;
}

.linksecondasez span{
  color: white;
  font-size: 9px;
  line-height: 40px;
}

#testofreehub {
  float: left;
  width: calc(100% - 150px - 50px)
}

.primotesto {
  font-size: 25px;
  color: rgb(51, 71, 91);
}

#testofreehub p:nth-of-type(2) {
  margin-top: 20px;
  margin-bottom: 10px;
}

#testofreehub p:nth-of-type(3) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.terzotesto {
  font-size: 12px;
  color: rgb(51, 71, 91);
}

.fas {
  color: rgb(254, 119, 90);
  margin-right: 10px;
}

#testofreehub i:nth-of-type(1n+2) {
  margin-left: 10px;
}

.floatsecondasez {
  margin-top: auto;
  width: 100%;
}

.terzofloat {
  float: left;
  width: 30%;
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
}

.sales {
  margin: 0 5%;
}

.floatcontainer{
  width: 80%;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.floatcontainer img {
  width: 150px;
  height: auto;
}

.check {
  text-align: left;
}

hr {
  border-color: rgb(82, 96, 113);
  margin-bottom: 20px;
  margin-top: 40px;
}

.floatcontainer p:nth-of-type(1) {
  margin: 20px 0;
}

.floatcontainer p:nth-of-type(3) {
  margin-bottom: 20px;
}

.floatcontainer .linksecondasez {
  margin: 25px auto 10px;
}

.sales img {
  margin-top: 47px;
}

.marketing img {
  margin-top: 16px;
}
/* terza sezione */

#terza {
  background-image: linear-gradient(to right, rgb(0, 170, 180), rgb(0, 185, 168));
  padding: 50px 0;
}

#testoterzasez {
  color: white;
  text-align: center;
  margin-top: 40px;
}

#testoterzasez p:nth-of-type(1) {
  font-size: 30px;
}

#testoterzasez p:nth-of-type(2) {
  font-size: 12px;
}

.floatterzasez {
  margin: 50px 0 70px;
}

.riquadro {
  float: left;
  width: 25%;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.des {
  border-right: 1px solid white;
}

.row2 {
  border-top: 1px solid white;
}

#marketplace {
  max-width: 117px;
  height: auto;
}

#group {
  padding-top: 13px;
}

#primospan {
  font-size: 35px;
}

#secondospan {
  font-size: 10px;
}

/* quarta sezione */
#quarta {
  background-color: white;
  padding: 50px 0;
}

.riquadrotesto {
  float: left;
  width: 30%;
}

.row1 .riquadrotesto {
  padding: 30px 20px;
  text-align: center;
}

.row1 .primotesto {
  font-size: 50px;
}

.row3 .riquadrotesto {
  margin-top: 50px;
}

.loghi2 {
  float: right;
  width: 50%;
  margin-top: 30px;
  margin-right: 100px;
}

.loghi2 img {
  float: left;
  width: calc(100% / 4)
}

#riquadroimmagine {
  float: left;
  margin-left: 20px;
  width: calc(100% - 40%);
  text-align: right;
}

#riquadroimmagine img {
  width: 40%;
  height: auto;
}

/* piè di pagina */
footer {
  width: 100%;
  padding-top: 50px;
  color: white;
  /* debug */
  background-color: #2d3e50;
  border: 1px solid black;
  /* fine debug */
}

.lista {
  float: left;
  width: 25%;
  border: 1px solid black;
}

.lista p:first-of-type {
  margin-bottom: 20px;
  font-size: 13px;
}

.lista p:nth-of-type(1n+2) {
  margin-top: 10px;
}

.lista a{
  color: #cbd6e2;
  text-decoration: none;
  font-size: 12px;
}

#bottone a {
  background-color: #cbd6e2;
  color: #2d3e50;
  padding: 10px;
  border-radius: 4px;
}

#social{
  margin-top: 15px;
}

#social i {
  margin-right: 10px;
  color: #cbd6e2;
}

#testofooter {
  padding: 50px 0;
  border: 1px solid black;
}

#lingue {
  text-align: center;
  border-bottom: 1px solid #cbd6e2;
  padding-bottom: 20px;
}

#lingue a{
  color: #cbd6e2;
  text-decoration: none;
  font-size: 12px;
  margin-right: 10px;
}

#finale {
  width: 100%;
  height: 200px;
  background-color: red;
}
