/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* regole pagina */

.container {
  width: 70%;
  margin: auto;
  /* debug */
  border: 1px solid black;
  /* fine debug */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* intestazione */

/* header */
header {
  width: 100%;
  background-color: rgb(200, 200, 200);
  /* debug */
  border: 1px solid black;
  /* fine debug */
}

#opzioni {
  height: 50px;
}

/* nav */
#link {
  height: 50px;
}


/* parte centrale */
main {
  width: 100%;
  /* debug */
  /* height: 100px; */
  background-color: yellow;
  border: 1px solid black;
  /* fine debug */
}

section {
  width: 100%;
  /* debug */
  border: 1px solid black;
  background-color: pink;
  /* fine debug */
}

/* prima sezione */

#prima {
  background-image: url(../img/jumbotron.png);
  background-size: 100% 100%;
}

#testoprimasez {
  width: 50%;
  height: 695px;
}

#testoprimasez p:first-of-type {
  margin-top: 80px;
  font-weight: bolder;
  font-size: 40px;
  color: rgb(51, 71, 91);
}

#testoprimasez p:nth-of-type(2) {
  margin-top: 20px;
  /* font-weight: bolder; */
  font-size: 12px;
  color: rgb(82, 96, 113);
}

#testoprimasez p:nth-of-type(3) {
  margin-top: 20px;
  /* font-weight: bolder; */
  font-size: 9px;
  color: rgb(82, 96, 113);
}

#linkprimasez {
  background-color: rgb(254, 119, 90);
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px;
}

#testoprimasez a{
  text-decoration: none;
}

#testoprimasez span{
  color: white;
  font-size: 9px;
  line-height: 40px;
}

/* seconda sezione */

#cubo {
  height: 50px;
  background-color: green;
}

#freehubspot {
  height: 50px;
  background-color: lightgreen;
}

.floatsecondasez {
  background-color: orange;
}

#marketing {
  float: left;
  width: 30%;
  height: 200px;
  background-color: black;
}

#sales {
  float: left;
  width: 30%;
  height: 200px;
  background-color: black;
  margin: 0 5%;
}

#service {
  float: left;
  width: 30%;
  height: 200px;
  background-color: black;
}

/* terza sezione */

#testoterzasez {
  height: 50px;
  background-color: blue;
}

.riquadro {
  float: left;
  width: 25%;
  height: 50px;
  /* background-color: lightblue; */
  border: 1px solid black;
}

/* quarta sezione */

.riquadrotesto {
  float: left;
  width: 30%;
  height: 200px;
  border: 1px solid black;
}

.riquadroimmagine {
  float: left;
  width: 70%;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
}


/* piè di pagina */
footer {
  width: 100%;
  /* debug */
  background-color: purple;
  border: 1px solid black;
  /* fine debug */
}


.lista {
  float: left;
  width: 25%;
  height: 200px;
  border: 1px solid black;
}

#testofooter {
  height: 200px;
  border: 1px solid black;
}
